<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Legitech Ai</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" /><link rel="stylesheet" href="static/css/style_back.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <div id="sidebar">
    {% include './sidebar.html' %}
  </div>
    
   
   <div class="container">
    <div class="blob-c">
      <div class="blob"></div>
      <div class="blob one"></div>
      <div class="blob two"></div>
      <div class="blob three"></div>
      <div class="blob four"></div>
      <div class="blob five"></div>
      <div class="blob six"></div>
      <div class="blob seven"></div>
    </div>
  
    <section>
      <div class="card">
        <img src="static/images/1.png" alt="image" />
  
        <div class="card-content">
          <p>Writing Lawyer</p>
          <p>Where the lawyer can submit any article they wrote for correction and improvement.</p>
        </div>
      </div>
  
      <div class="card">
        <img src="static/images/2.png" alt="image" />
  
        <div class="card-content">
          <p>Chat with your document</p>
          <p>Chat with your document  for easy reference and understanding.</p>
        </div>
      </div>
    </section>
  </div>
  

</body>
<!-- partial -->
  <script  src="static/js/script.js"></script>

</body>
</html>
