<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Legitech Ai</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" /><link rel="stylesheet" href="static/css/style_back.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <nav class="main-menu">
      <ul>
        <li>
          <a href="/back">
            <i class="fa fa-home nav-icon"></i>
            <span class="nav-text">Home</span>
          </a>
        </li>

       

        <li>
          <a href="/Writinglawyer">
            <i class="fa fa-book nav-icon"></i>
            <span class="nav-text">Writing Lawyer</span>
          </a>
        </li>

        <li>
          <a href="/chat">
            <i class="fa fa-file-text nav-icon"></i>
            <span class="nav-text">Chat with your document</span>
          </a>
        </li>

      </ul>

      <ul class="logout">
       

        <li>
          <a href="/">
            <i class="fa fa-right-from-bracket nav-icon"></i>
            <span class="nav-text">
              Logout
            </span>
          </a>
        </li>  
      </ul>
   </nav>
    
   
   
  

</body>
<!-- partial -->
  <script  src="static/js/script.js"></script>

</body>
</html>
